/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* THEME */
:root {
  --primary: #4f46e5;
  --secondary: #22c55e;
  --bg: #f4f6fb;
  --card: #ffffff;
  --text: #1f2937;
}

/* BODY */
body {
  background-color: var(--bg);
  color: var(--text);
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}
